@font-face {
    font-family: "Mark my words";
    src: url("fonts/mark_my_words.ttf");
}

@font-face {
    font-family: "Always";
    src: url("fonts/always_forever_bold.ttf");
}

@font-face {
    font-family: "Simplicity";
    src: url("fonts/simplicity.ttf");
}

strong {
    font-size: 90px;
}

section {
    height: 800px;
}

.rond {
    display: flex;
    width: 60%;
    height: 650px;
    margin: 7% auto auto auto;
    border: 10px double white;
    border-radius: 100%;
}

.rond p {
    margin: auto;
    font-family: "Mark my words";
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 70px;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-shadow: 1px 1px 2px #7c5f51;
  font-family: "Mark my words";
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #7c5f51;
}
.navbar-default .navbar-nav>.active>a {
  color: white;
  background-color: #dabd8b;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #7c5f51;
  background-color: white;
}

.navbar-default {
    background-color: transparent;
}

#home, #cv, #contact {
    background-image: url("img/ble2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about, #projects {
    color: black;
}

.homeText {
    margin-top: 20%;
    opacity: .7;
    color: white;
    font-family: "evogria";
}

.homeText h1 {
    font-size: 100px;
}

.homeText h2 {
    font-size: 70px;
}
#about .container, #cv .container, #projects .container, #contact .container {
    padding: 60px 0;
}
.exp {
    border: 2px solid black;
    border-radius: 100%;
    text-align: center;
    height: 160px;
    padding-top: 5%;
}


@media screen and (max-width: 600px) {
  strong {
    font-size: 60px;
}
  .rond {
    width: 95%;
    height: 400px;
    margin: 20% auto auto auto;
  }

.rond p {
    font-size: 40px;
  }
}