@font-face {
    font-family: "Mark my words";
    src: url("fonts/mark_my_words.ttf");
}
@font-face {
    font-family: "Always";
    src: url("fonts/always_forever_bold.ttf");
}
@font-face {
    font-family: "Simplicity";
    src: url("fonts/simplicity.ttf");
}
strong {font-size: 85px;}
section {
    height: 900px;
    padding-top: 5%;
}
section .container, section .container {
  background-color: white;
  font-family: "Simplicity";
  font-size: 20px;
  height: 70%;
  opacity: 0.8;
}
footer {
  font-family: "Simplicity";
  color: white;
  font-weight: bold;
  font-size: 15px;
}
#home .container .row {
  height: 100%;
  margin-top: 5%;
}
#home .container .row div {
    height: 85%;
    border: 10px double white;
    padding-top: 13%;
    margin-top: 3%
}
#home .container .row div p {
    margin: auto;
    font-family: "Mark my words";
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 60px;
    text-align: center;
}
#home {padding-top: 0;}
#home .container {background-color: transparent;}
#home, #about, #cv, #contact, #projects, footer {
    background-image: url("img/ble2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about, #cv, #projects, #contact {color: #7c5f51;}
#cv, #projects {background-image: url("img/flowers.jpeg");}
#contact, footer {background-image: url("img/grass.jpeg");}
#cv .container, #projects .container {height: 85%;}
#about h2, #cv h2, #projects h2 {
  font-size: 40px;
  font-family: "Mark my words";
  text-shadow: 1px 1px 2px #7c5f51;
  margin-bottom: 2%;
}
#about h2 {padding-bottom: 5%;}
#about p {font-size: 25px;}
#about .container .row {padding: 0 2% 0 2%;}
#about .container {height: 55%;}
#about .container, #cv .container, #projects .container, #contact .container {
    padding: 20px 0;
}
#cv .container .row:nth-child(2), #cv .container .row:nth-child(3), #cv .container .row:last-child{
  padding-left: 2%;
}
#cv .left_title, #projects .left_title {border: 5px double #7c5f51;}
#projects .container {height: 65%;}
#projects .container .row:first-child {margin-top: 5%;}
.navbar-default .navbar-nav>li>a {
  color: white;
  text-shadow: 1px 1px 2px #7c5f51;
  font-family: "Mark my words";
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {color: #7c5f51;}
.navbar-default .navbar-nav>.active>a {
  color: white;
  background-color: #dabd8b;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #7c5f51;
  background-color: white;
}
.navbar-default {background-color: transparent;}
.left_title {
    border: 5px double white;
    border-radius: 100%;
    height: 160px;
    padding-top: 4.5%;
    margin-left: 1.5%;
    font-family: "Mark my words";
    font-size: 30px;
    text-shadow: 1px 1px 2px #7c5f51;
}
.right_text {
  font-family: "Simplicity";
  font-weight: bold;
  text-shadow: 1px 1px 2px #7c5f51;
  font-size: 22px;
  padding-top: 2%;
}
.row_exp, .row_skills {margin-top: 2%;}
.row_skills .right_text {padding-top: 4.5%;}
.row_skills .right_text img {margin-left: 2%;}

/*----------------SLIDESHOW---------------*/

#projects .container .row [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}
.left-side {
    background: #7c5f51;
    position: relative;
    height: 400px;
}
.left-side h3 {
  font-size: 40px;
  font-family: "Mark my words";
  text-shadow: 1px 1px 2px white;
  padding: 0 15px;
  color: white;
}
.left-side .left-side_menu {padding: 0;}
.left-side .left-side_menu li {
    list-style: none;
    position: relative;
    color: #FFF;
    font-weight: bold;
    display: block;
    padding: 16px 20px;
    font-size: 20px;
    text-decoration: none;
}
.left-side .left-side_menu li.active {
    background: white;
    color: #7c5f51;
}
.left-side .left-side_menu li.active:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 22px solid white;
    position: absolute;
    right: -22px;
    z-index: 1000;
    top: 0;
    padding-bottom: 6px;
}
.mobile-menu-bg {background: #7c5f51;}
.menu_mobile {
    margin: 0px;
    padding: 0;
}
.menu_mobile li {
    padding: 0;
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
}
.menu_mobile li a {
    display: block;
    padding: 10px;
    color: #FFF;
    text-decaration: none;
}
.menu_mobile li:hover a {
    background: #0383c5;
    text-decaration: none;
}
.slideshow {
    overflow: hidden;
}
.slideshow .overlay-item  {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 360px;
    background: rgba(218, 189, 139, 0.9);
    height: 400px;
    padding: 10px 30px;
    display: none;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.slideshow .overlay-item.active {
    display: block;
    -webkit-animation: opendoor 0.75s ease 0s alternate;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.slideshow .overlay-item.inactive {
  display: block;
  -webkit-animation: closedoor 0.75s ease 0s alternate;
  transform-style: preserve-3d;
  opacity:0;
}
.slideshow .overlay-item .quickmenu  {
    padding: 0;
    margin-bottom: 5%;
    color: #7c5f51;
    font-weight: bold;
    font-size: 22px;
}
.slideshow .overlay-item .quickmenu h3 {
  font-weight: bold;
  font-size: 27px;
}
.slideshow .overlay-item .quickmenu a {
    color: #7c5f51;
    font-weight: bold;
    padding: 2%;
    font-size: 23px;
    text-decoration: none;
    border: 1px dotted #7c5f51;
    border-radius: 5%;
}
.slideshow .overlay-item .quickmenu a:hover {transform: scale(1.2);}
#slider {
    padding: 0px;
    margin: 0px
}
#slider li {
    padding: 0px;
    list-style: none;
    position: absolute;
}
#carousel {height: 400px}
.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
.carousel-inner .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item:nth-child(1) {
    background-image: url("img/leravi.jpg");
}
.item:nth-child(2) {
    background-image: url("img/espace.jpg");
}
.item:nth-child(3) {
    background-image: url("img/rl_auto.jpg");
}
.item:last-child {
  background-image: url("img/ble_small.jpg");
}
.carousel-caption h3 a {
  color: #301c09;
  font-weight: bold;
  text-decoration: none;
}
.carousel-inner .item .carousel-caption h3:hover {
  transform: scale(1.1);
}
.carousel-inner .item:nth-child(2) .carousel-caption a{
  color: white;
}
.carousel-indicators li {border-color: #301c09;}

@-webkit-keyframes opendoor {
    from {
        -webkit-transform: perspective(1000px) rotateY(90deg);
        -webkit-transform-origin: 0% 50%;
    }
    to {
        -webkit-transform: perspective(1000px) rotateY(0deg);
        -webkit-transform-origin: 0% 50%;
    }
}
@-webkit-keyframes closedoor {
    from {
        opacity:1;
         -webkit-transform-origin: 0% 50%;
    }
    to {
        opacity:0;
        -webkit-transform-origin: 0% 50%;
    }
}

@media screen and (max-width:1200px) {
  .row_skills .left_title {
    padding-left: 0.2%;
  }
  .row_skills .right_text {
    padding-top: 5%;
  }
}
@media screen and (max-width:990px) {
  #home .container .row div {
    padding-top: 18%;
    margin-top: 7%;
  }
  .ul_school, .ul_exp {
    font-size: 20px;
  }
  .row_skills img {
    width: 50px;
    height: 50px;
    margin-top: 5%;
  }
  #cv .left_title {
    padding: 7% 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  #home .container, #about .container, #cv .container, #projects .container, #contact .container { height: auto;}
  #about .container {height: 700px;}
  #about .container .row p {text-align: justify;}
  strong {
    font-size: 60px;
}
  #home .container .row div {
    height: 400px;
    margin: 20% auto auto auto;
  }

#home .container .row div p {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  strong {
    font-size: 50px;
  }
  #about .container p {text-align: justify;}
  #home .container .row div p {
      font-size: 30px;
    }
}
