@font-face {
    font-family: "Mark my words";
    src: url("fonts/mark_my_words.ttf");
}

@font-face {
    font-family: "Always";
    src: url("fonts/always_forever_bold.ttf");
}

@font-face {
    font-family: "Simplicity";
    src: url("fonts/simplicity.ttf");
}

strong {
    font-size: 90px;
}

section {
    height: 1000px;
    padding-top: 5%;
}
section .container, section .container-fluid {
  background-color: white;
  font-family: "Simplicity";
  font-size: 20px;
  height: 70%;
  opacity: 0.8;
}
#home .container-fluid .row {
  height: 100%;
  margin-top: 5%;
}
#home .container-fluid .row div {
    height: 85%;
    border: 10px double white;
    padding-top: 13%;
}

#home .container-fluid .row div p {
    margin: auto;
    font-family: "Mark my words";
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 70px;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-shadow: 1px 1px 2px #7c5f51;
  font-family: "Mark my words";
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #7c5f51;
}
.navbar-default .navbar-nav>.active>a {
  color: white;
  background-color: #dabd8b;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: #7c5f51;
  background-color: white;
}

.navbar-default {
    background-color: transparent;
}
#home {padding-top: 0;}
#home .container-fluid {background-color: transparent;}
#home, #about, #cv, #contact, #projects {
    background-image: url("img/ble2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about, #cv, #projects, #contact {
    color: #7c5f51;
}
#cv, #projects {
  background-image: url("img/flowers.jpeg");
}
#contact {
  background-image: url("img/grass.jpeg");
}
#cv .container, #projects .container {
  height: 80%;
}
#about h2, #cv h2 {
  font-size: 40px;
  font-family: "Mark my words";
  text-shadow: 1px 1px 2px #7c5f51;
  margin-bottom: 2%;
}
#about h2 {
  padding-bottom: 5%;
}
#about p {
  font-size: 25px;
}
#about .container .row {
  padding: 0 2% 0 2%;
}
#about .container, #cv .container, #projects .container, #contact .container {
    padding: 20px 0;
}
#cv .container .row:nth-child(2), #cv .container .row:nth-child(3), #cv .container .row:last-child{
  padding-left: 2%;
}
#cv .left_title {
  border: 5px double #7c5f51;
}
.left_title {
    border: 5px double white;
    border-radius: 100%;
    height: 160px;
    padding-top: 4.5%;
    margin-left: 1.5%;
    font-family: "Mark my words";
    font-size: 30px;
    text-shadow: 1px 1px 2px #7c5f51;
}
.right_text {
  font-family: "Simplicity";
  font-weight: bold;
  text-shadow: 1px 1px 2px #7c5f51;
  font-size: 22px;
  padding-top: 2%;
}
.row_exp, .row_skills {
  margin-top: 2%;
}
.row_skills .right_text {
  padding-top: 4%;
}
.row_skills .right_text img {
  margin-left: 2%;
}

@media screen and (max-width: 600px) {
  strong {
    font-size: 60px;
}
  .rond {
    width: 95%;
    height: 400px;
    margin: 20% auto auto auto;
  }

.rond p {
    font-size: 40px;
  }
}
